<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsultEasy - Clínica Médica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ConsultEasy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Medico" asp-action="Index">Médicos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Secretaria" asp-action="Index">Secretários</a>
                            </li>
                        }
                        @if (User.IsInRole("Secretaria"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Paciente" asp-action="Index">Pacientes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Consulta" asp-action="Index">Consultas</a>
                            </li>
                        }
                        @if (User.IsInRole("Medico"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Agenda" asp-action="Index">Agenda</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Historico" asp-action="Index">Histórico</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="float-right">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">@User.Identity.Name</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-controller="Usuario" asp-action="RedefinirSenha" asp-route-id="@User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.GroupSid).Value">Redefinir Senha</a>
                            <a class="dropdown-item" asp-controller="Login" asp-action="Logoff">Sair</a>
                        </div>
                    </div>
                </div>
            }

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2021 - ConsultEasy - Guilherme Daires, Izabela Caroline & Marcus Thomé
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
