@model ClinicaMedicaWeb.Models.Consulta;

@if (ViewBag.TipoMensagem != null)
{
    if (ViewBag.TipoMensagem == "ERRO")
    {
<div class="alert alert-danger">@ViewBag.Mensagem</div> }
else if (ViewBag.TipoMensagem == "SUCESSO")
{
<div class="alert alert-success">@ViewBag.Mensagem</div>}
}

<form method="post" asp-action="ExibirDetalhesConsulta">
    <input type="hidden" asp-for="Id" />
    <div>
        <div class="form-group">
            <label asp-for="Medico.Nome">Médico</label>
            <input asp-for="Medico.Nome" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="DataConsulta"></label>
            <input asp-for="DataConsulta" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="HoraConsulta"></label>
            <input type="time" asp-for="HoraConsulta" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Paciente.Nome">Paciente</label>
            <input asp-for="Paciente.Nome" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Paciente.DataNascimento"></label>
            <input asp-for="Paciente.DataNascimento" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Paciente.Telefone"></label>
            <input asp-for="Paciente.Telefone" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Paciente.Profissao"></label>
            <input asp-for="Paciente.Profissao" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Observacao">Observação </label>
            <textarea class="form-control" rows="6" readonly>@ViewBag.Observacao</textarea>
        </div>

        @if (ViewBag.Privado == true)
        {
            <div class="form-group">
                <label>Digite a chave para descriptografar as informações</label>
                <label asp-for="Chave">Senha </label>
                <input asp-for="Chave" class="form-control" />
                <span asp-validation-for="Chave" class="text-danger small"></span>
             </div>
             <div class="form-group">
                    <button type="submit" class="btn btn-primary">Visualizar</button>
             </div>      
         }

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}